.git
.gitignore
.github
.claude
.DS_Store
docs
infra
README.md
Dockerfile
docker-compose.yml
.dockerignore

client/node_modules
client/dist
server/samezario-server
server/internal/static/assets/*
!server/internal/static/assets/.gitkeep
!server/internal/static/assets/index.html
